body {
  background: #014d00;
}


/**************************************** BIRD LIBRARY */
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  font-size: 30px;
  font-family: 'Chewy', cursive;
}

.navbar-default {
  margin-bottom: 0;
}
.navbar-nav li, .guide-title, .navbar-nav .dropdown .dropdown-menu li {
  color: #014d00;
}
.dropdown-menu {
  font-family: 'Didact Gothic', sans-serif;
}

.toucan-logo {
  height: 40px;
}

.guide-title {
  color: #014d00;
  font-size: 30px;
  margin: 0 30px;
}

.bird-index {
  display: flex;
  justify-content: space-around;
}

.bird-info-div {
  display: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: #dfffd1;
  color: #014d00;
}

/******* CAROUSEL ********/
.carousel-inner {
  height: 400px;
  background-image: url('http://wfiles.brothersoft.com/a/amazon-forest_94321-1280x800.jpg');
  background-position: center;
  background-size: cover;
  border-bottom: 15px solid #000;
  border-top: 15px solid #000;
}


.carousel-inner .item img {
  height: 300px;
  position: relative;
  height: 100%;
  min-width: 800px;
  top: -50px;
  margin: auto;
  overflow: hidden;
}

.carousel-caption {
  font-size: 25px;
  top: 280px;
}


/****************** BIRD LIST ***********************/
.new-bird-div {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.btn-new-bird {
  box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.5), 5px 10px 10px 0 rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 75px;
  font-size: 40px;
  font-family: 'Didact Gothic', sans-serif;
}

.btn-new-bird:hover {
  border: 5px solid #eee;
}

.main-list {
  background: #dfffd1;
  font-family: 'Didact Gothic', sans-serif;
  padding: 25px;
}

.row {
  margin-bottom: 150px;
}

.main-list {
  min-width: 900px;
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.5), 10px 20px 20px 0 rgba(0, 0, 0, 0.5);
  border: 5px solid #eee;
  border-radius: 10px;
}

.bird-list {
  width: 100%;
}

.bird-row {
  border-bottom: 1px solid #5cb85c;
}

td h3, td a {
  margin: 20px 0;
  vertical-align: middle;
}

.order-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
}

.btn-up {
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-down {
  margin-bottom: 10px;
}



.td-field-notes {
  display: flex;
  align-items: center;
}

.show-field-notes, .edit-btn, .delete-btn {
  background: #5cb85c;
  border: 2px solid #5cb85c;
  height: 40px;
  width: 40px;
  padding: 8px 0;
}

.show-field-notes:hover, .edit-btn:hover {
  border: 2px solid #000;
  background: #014d00;
}

.popover-content {
  width: 250px;
  margin: 10px;
  text-align: justify;
}

.main-list h2 {
  text-decoration: underline;
}

.date-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: #ff6161;
  color: #fff;
  border: 2px solid #ff4040;
  border-radius: 6px;
}

.delete-btn:hover {
  background: #ff2e2e;
  border: 2px solid #000;
}

.edit-btn {
  color: #fff;
  border-radius: 6px;

}

.edit-btn:hover {
  border: 2px solid #000;
}
/******************* New Bird Form ********************/
.body-add {
  background-image: url('http://static.thousandwonders.net/San.Rafael.Falls.original.1359.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}
.form-new-bird {
  background: #dfffd1;
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.5), 10px 20px 20px 0 rgba(0, 0, 0, 0.5);
  border: 5px solid #eee;
  border-radius: 10px;
  padding: 50px;
  margin-top: 100px;
  width: 60%;
  min-width: 500px;
}

.form-group label {
  font-size: 30px;
  margin-right: 25px;
}

.required-fields .form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-control {
  width: 50%;
}

.form-control-notes {
  width: 100%;
}

.new-bird-btns-div {
  display: flex;
  justify-content: space-between;
}
.btn-back-bird, .btn-save-bird {
  height: 50px;
  width: 125px;
  font-size: 25px;
}

/**************** MAP *******************/
.map-div {
  margin: 5% 10%;
}

.map-div img {
  width: 100%;
  height: auto;
  box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.5), 10px 20px 20px 0 rgba(0, 0, 0, 0.5);
  border: 5px solid #eee;
  border-radius: 10px;
}
